body {
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}
.main {
    text-align: center;
}
.tagline {
    font-size: 14px;
    letter-spacing: 2px;
    color: #888;
    margin-bottom: 5px;
}
h1 {
    font-size: 90px;
    margin: 0;
    background: linear-gradient(45deg, #007aff, #00ffcc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 25px;
}
.status-btn {
    background: transparent;
    color: #fff;
    border: 1px solid #333;
    padding: 12px 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.status-btn:hover {
    border-color: #007aff;
    box-shadow: 0 0 10px rgba(0, 122, 255, 0.3);
}

.auth-container {
    display: none; /* Это мы переключаем через JS */
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.input-prime {
    background: #111;
    border: 1px solid #333;
    padding: 12px 20px;
    border-radius: 10px;
    color: #fff;
    width: 250px;
    outline: none;
}

.input-prime:focus {
    border-color: #007aff;
}

#auth-title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 300;
}

.messages-area {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    overflow-y: auto;
}

.msg {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 15px;
    background: #1a1a1a;
    position: relative;
    align-self: flex-start; /* Чужие слева */
}

.msg.mine {
    background: #007aff; /* Твои синие */
    align-self: flex-end; /* Твои справа */
}

.msg-sender {
    font-size: 11px;
    color: #888;
    margin-bottom: 4px;
}

.msg.mine .msg-sender {
    color: #cce4ff;
    text-align: right;
}

.msg-text {
    font-size: 15px;
    word-wrap: break-word;
}

.msg-time {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
    text-align: right;
    margin-top: 5px;
}